header{
    background-image: url("./images/background-image.GIF");
    background-size: 60px;
    height:60px;
    display: flex;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;

}
li{
    list-style: none;
    float: left;
    background-color: dimgray;
    margin: 10px;
    
}
.header-logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border: rgb(0, 0, 0);
    margin:10px;
}

main{
    background-color: gray;
    margin: 60px;
    height: auto;
    
}

.picture-a{
    width: 200px; 
    height: auto;
}